/tmp
vitis_hls.log
device_trace_0.csv
device_trace_1.csv
native_trace.csv
power_profile_xilinx_u55c_gen3x16_xdma_base_3-0.csv
streamhls_host
summary.csv
v++_streamhls.log
xcd.log
xrt.run_summary
src/streamhls
src/bin/streamhls.o
/_x
/_x.hw.xilinx_u55c_gen3x16_xdma_3_202210_1
/package.hw
/.ipcache
/.Xil/
v++_streamhls_2672321.backup.log
v++_streamhls_2733298.backup.log
v++_streamhls.link.log
/build_dir.hw.xilinx_u55c_gen3x16_xdma_3_202210_1